/**
 * @file
 * Subtheme specific CSS.
 */

 .image-wrapper{
     margin: 10px;
 }

 .carousel{
     width: 100%;
     text-align: center;
     height: 400px;
     overflow: hidden;
     padding-top: 50px;
 }

.carousel-control-prev,
.carousel-control-next{
    background-color: gray;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 50px;
    height: 50px;
}

.carousel-indicators li{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50px;
    height: 4px;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .3;
    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

.field-slideshow{
    /* width: 50%; */
    /* margin: auto; */
    /* float: left; */
}

.field-slideshow-wrapper{
    /* background-color: bisque; */
    overflow: hidden;
    height: 350px;
 }

.cycle-pager-after{
    margin-top: 250px;
    position: relative;
} 

.card-footer{
   /* background-color:rgba(0, 0, 0, 0.02); */
}

.dialog{
    position: fixed;
    height: 419px;
    width: 385px;
    top: 79px;
    left: 1203px;
}

.slick-initialized .slick-slide{
    margin: 0 50px;
}

/* .slide__link{
    margin: 275px 0;
    } */

.slide__content, .grid__content {
        /* position: relative;
        min-height: 411px; */
}     

.slick--skin--classic .slide__caption{
    /* background-color: #000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    left: auto;
    right: 0;
    margin: 0;
    min-height: 80px;
    padding: 15px;
    -webkit-transition: -webkit-transform 1s ease-in-out 0.2s;
    transition: transform 1s ease-in-out 0.2s; */
    /* width: 100%; */
}    

.row .bs-2col-bricked{
    /* margin-top: 35px; */
}

.block-region-middle{
    border-top: #4c50522e 1px solid;
    padding-top: 10px;
    margin-top: 15px;
}
.views-field .views-field-field-price-base{
    /* position: absolute;
    bottom: 10px;
    z-index: 10;
    padding: 10px; */
}
.promotion-price {
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    /* margin-bottom: 20px; */
    /* position: absolute; */
    background: #26a0e6;
    color: white;
    /* opacity: 0.8; */
    box-shadow: #6d6d6d 0px 5px 15px 0px;
}

.promotion-image{
    position: relative;
    top: -20px;
}

.widget_pager{
    display: block;
}

.views-slideshow-controls-bottom .views-slideshow-pager-bullets li {
    background: #929292;
    box-shadow: grey 0 0 6px 1px;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets li.active{
    background: orange;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets li:hover{
    background: orange;
}

.views_slideshow_controls_text_pause{
    display: none;
}


.views_slideshow_controls_text_next {
    text-indent: -9999px;
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    /* padding: 0 20px; */
    background: #2481b7;
    /* margin: 0.4em; */
    /* line-height: 29px; */
    height: 45px;
    width: 45px;
    box-shadow: grey 0 0 6px 2px;
    border: #d0ff048c solid 1px;
    position: absolute;
    right: -2%;
    bottom: 40%;
}

.views_slideshow_controls_text_previous{
    text-indent: -9999px;
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    /* padding: 0 20px; */
    background: #2481b7;
    /* margin: 0.4em; */
    /* line-height: 29px; */
    height: 45px;
    width: 45px;
    box-shadow: grey 0 0 6px 2px;
    border: #d0ff048c solid 1px;
    position: absolute;
    left: -2%;
    bottom: 40%;
}

.views_slideshow_controls_text_next,
.views_slideshow_controls_text_previous{
    z-index: 100;
}

.views_slideshow_controls_text_next:hover,
.views_slideshow_controls_text_previous:hover{
    background: #26a0e6;
    

}

.view-content .skin-default{
    margin: 0 auto;
}

.views-slideshow-controls-bottom{

}

#page, #main-wrapper, .region-primary-menu .menu-item a.is-active, .region-primary-menu .menu-item--active-trail a{
    background: #fbfbfb;
}

.btn{
    /* position: absolute;
    bottom: 1rem; */
    /* align-self: flex-end; */
}