/**
 * @file
 * Subtheme specific CSS.
 */

 .image-wrapper{
     padding: 10px;
 }

 /* ----------------------------------------------------------------------- Кнопки (btn) ------------------------------------------------ */
.btn{
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48); */
}

/* --------------------------------------------------------------------- Карусель Bootstrap ----------------------------------------- */
 .carousel{
     width: 100%;
     text-align: center;
     min-height: 500px;
     overflow: hidden;
     padding-top: 50px;
 }

.carousel-control-prev,
.carousel-control-next{
    bottom: 46%;
    top: auto;
    padding: 10px;
    background-color: #ff0000;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 25px;
    height: 25px;
}

.carousel-indicators li{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50px;
    height: 4px;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .3;
    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

.carousel-inner{
    /* margin-bottom: 50px; */
}

.carousel-item{
    margin-bottom: 50px;
}

.carousel-caption{
    background: #1d193c8a;
    padding: 1em 2em 0;
    bottom: 0;
}

.carousel-caption .text-block-promo{
    color: white;
}

.carousel-caption a{
    color: yellow;
    text-decoration-line: underline;
}

.carousel-caption a:hover{
    color: #ffd000;
    text-decoration-line: underline;
}

.carousel-caption .price-block-promo{
    border: 2px solid white;
    padding: 0.2em;
    border-radius: 5px;
    color: white;
}
/* ============================================================================================================================================ */
.field-slideshow{
    /* width: 50%; */
    /* margin: auto; */
    /* float: left; */
}

.field-slideshow-wrapper{
    /* background-color: bisque; */
    overflow: hidden;
    height: 350px;
 }

.cycle-pager-after{
    margin-top: 250px;
    position: relative;
} 

/* ================================================================================================================================================= */

.card-footer{
   /* background-color:rgba(0, 0, 0, 0.02); */
}

.dialog{
    position: fixed;
    height: 419px;
    width: 385px;
    top: 79px;
    left: 1203px;
}

.slick-initialized .slick-slide{
    margin: 0 50px;
}

/* .slide__link{
    margin: 275px 0;
    } */

.slide__content, .grid__content {
        /* position: relative;
        min-height: 411px; */
}     

.slick--skin--classic .slide__caption{
    /* background-color: #000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    left: auto;
    right: 0;
    margin: 0;
    min-height: 80px;
    padding: 15px;
    -webkit-transition: -webkit-transform 1s ease-in-out 0.2s;
    transition: transform 1s ease-in-out 0.2s; */
    /* width: 100%; */
}    

.row .bs-2col-bricked{
    /* margin-top: 35px; */
}

.block-region-middle{
    border-top: #4c50522e 1px solid;
    padding-top: 10px;
    margin-top: 15px;
}
.views-field .views-field-field-price-base{
    /* position: absolute;
    bottom: 10px;
    z-index: 10;
    padding: 10px; */
}
.promotion-price {
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    /* margin-bottom: 20px; */
    /* position: absolute; */
    background: #26a0e6;
    color: white;
    /* opacity: 0.8; */
    box-shadow: #6d6d6d 0px 5px 15px 0px;
}

.promotion-image{
    position: relative;
    top: -20px;
}

.widget_pager{
    display: block;
}

.views-slideshow-controls-bottom .views-slideshow-pager-bullets li {
    background: #929292;
    box-shadow: #1d1d1d 0 0 3px 1px;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets li.active{
    background: orange;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets li:hover{
    background: orange;
}

.views_slideshow_controls_text_pause{
    display: none;
}


.views_slideshow_controls_text_next {
    text-indent: -9999px;
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    /* padding: 0 20px; */
    background: #2481b7;
    /* margin: 0.4em; */
    /* line-height: 29px; */
    height: 45px;
    width: 45px;
    box-shadow: #000000 0px 0px 5px 1px;
    /* border: #d0ff048c solid 1px; */
    position: absolute;
    right: -2%;
    bottom: 40%;
}

.views_slideshow_controls_text_previous{
    text-indent: -9999px;
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    /* padding: 0 20px; */
    background: #2481b7;
    /* margin: 0.4em; */
    /* line-height: 29px; */
    height: 45px;
    width: 45px;
    box-shadow: #000000 0px 0px 5px 1px;
    /* border: #d0ff048c solid 1px; */
    position: absolute;
    left: -2%;
    bottom: 40%;
}

.views_slideshow_controls_text_next,
.views_slideshow_controls_text_previous{
    z-index: 100;
}

.views_slideshow_controls_text_next:hover,
.views_slideshow_controls_text_previous:hover{
    background: #26a0e6;
}

.view-content .skin-default{
    margin: 0 auto;
}

#page, #main-wrapper, .region-primary-menu .menu-item a.is-active, .region-primary-menu .menu-item--active-trail a{
    background: #fbfbfb;
}

#header{
    margin: 0 0 30px 0;
    box-shadow: #4e4e4e 0 0 9px;
}
#navbar-main{
    background-color: inherit;
}
/* -------------------------------------------------- Меню основное ------------------------------------------------- */
.navbar-nav{
    margin-right: 1em ;
}
.nav-item{
    /* border: 1px solid #26a0e6; */
    margin: 0 1em;
}
.navbar-light .navbar-nav .nav-link{
    color: #3c3c3c;
    padding: 1em;
    /* background-color: inherit; */
    font-size: large;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    /* padding: 1em; */
    /* background-color: #26a0e6; */
    color: white;
}

.container-fluid, 
.container-sm, 
.container-md, 
.container-lg, 
.container-xl{
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.description-tabs .tab-content {
    min-height: 400px;
}

ul.dropdown-menu{
    padding: 0.1rem 0;
    margin: 0 0;
    /* box-shadow: #313131 0px 2px 3px 1px; */
    background: none;
    border: none;
    width: 100%;
}
ul.dropdown-menu li{
    padding: unset;
}

.dropdown-item:hover,
.dropdown-item.active{
    background: none;    
}
/* ul.dropdown-menu li:hover{
    background: none;
} */
ul.dropdown-menu li a{
    color: #2b2b2b;
    display: block;
    padding: 1em;
    background: #fbfbfb;
    margin: 0.5em 0;
    /* border: 1px black solid; */
    /* border-top: 1px gray solid; */
    border-radius: 3px;
    box-shadow: #717171 0px 1px 3px 0px;

}
ul.dropdown-menu li a:hover{
    color: white;
    text-decoration: none;
    background: #474747;
}

/* -------------------------  иконки меню --------------------- */


.nav-link .fa-handshake,
.nav-link .fa-cogs,
.dropdown-item .fa-project-diagram,
.dropdown-item .fa-couch,
.dropdown-item .fa-bed,
.dropdown-item .fa-layer-group,
.dropdown-item .fa-paint-roller{
    font-size: 4em;
    color: #ff8300;
    vertical-align: middle;
    /* background: #fbfbfb; */
    border-right: solid #5d5d5d 1px;
    padding: 0 14px;
    margin: 0 10px 0 0;
    height: 0.7em;
    width: 100px;
}

/* .dropdown-item .fa-project-diagram{
    font-size: 4em;
    color: #ff9a00;
    vertical-align: middle;
    background: #fbfbfb;
    border-right: solid #5d5d5d 1px;
    padding: 3px 10px;
    margin: 0 5px 0 0;
    height: 0.7em;
} */


/* ------------------------------------------------------------------------------------------------------------------------------------ */


.view-content,
.form-actions{
    padding: 0 15px;
    display: block;
}

.ui-widget-overlay {
    /* background: none; */
    /* opacity: 0; */
    /* position: inherit; */
}

.ui-dialog{
    z-index: 200;
}

.slick-list{
    display: list-item;
}

/* ------------------------------------------------------------- Социальные иконки ----------------------------------------------- */




/* ----------------------------------------------------------------- Темизация views Описание товара на странице материала ---------------------------------- */


.view-opisanie-modeli,
.view-sleeps-all{
    margin: 30px 0 0 0;
}

.tab-content{
    min-height: 400px;
    overflow: auto;
}


.tab-content .field__item{
    margin: 10px 0;
    padding: 0 5px;
}

.field--name-field-scheme .field__item{
    float: left;
}

.tab-content>.tab-pane .field__label{
    display: none;
}

.price-base{
    opacity: 0.9;
}

.card-model-desc{
    /* background: #3c3c3c;
    color: #ececec; */
}

.description-right{
    border-left: dashed 1px #d2d2d2;
}
.card-model-desc .card-title{
    color: #040404;
}

.card-model-desc a{
    color: #2FA4E7;
    text-decoration: underline;
}

.fa-external-link-alt{
    vertical-align: top;
    margin: 10px 0px 0 -25px;
}
                            /* ----------------------------------- Стили для создания "read more" ----------------------- */

#summary {
  font-size: 1em;
  line-height: 1.5;
}

#summary div.collapse:not(.show) {
    height: 120px !important;
    overflow: hidden;
  
    display: block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#summary div.collapsing {
    min-height: 120px !important;
}

#summary a.collapsed:after  {
    content: '+ Читать далее...';
}

#summary a:not(.collapsed):after {
    content: '- Свернуть';
}
 
                            /* --------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------- Таблицы на странице описания матрасов ---------------------------------------------------------- */

table.table{
    color: white;
}

tr.odd,
.table-striped tbody tr:nth-of-type(odd){
    background-color: #5f5f5f;
}

tr.even{
    background-color: #6f6f6f;
}

/* ---------------------------------------------------- Карточки товаров --------------------------------------------------------------------- */

.card-body{
    flex: 0.5 0 auto;
}

/* ----------------------------------------------------- Блок социальных ссылок и телефон в шапке ------------------------------------------------- */

.region-top-header{
    width: 100%;
}

#block-socialnyessylkivshapke{
    width: 100%;
}

.fa-mobile-alt{
    color: white;

}

.btn-social{
    color: #ff6000;
    background: white;
}

.btn-social:hover{
    color: red;
}
/* .social-buttons{
    position: fixed;
    top: 250px;
    left: 10px;
    padding: 10px;
} */

/* .social-buttons .btn{
    color:#007cf9;
} */

/* .social-buttons .btn:hover{
    color:#5badff;
} */

/* ------------------------------------------------------- Модальное окно ------------------------------------------------- */

.ui-dialog .ui-dialog-content{
    padding: 0;
}

/* ---------------------------------------------------- Форма заказа мягкой мебели -------------------------------------------- */

.webform-submission-similar-soft-order-form   {
    background: #145873;
    padding: 31px 20px 10px 20px;
    color: white;
}

.form-control{
    border-radius: 0.1rem;
}

/* ------------------------------------------------ Главная страница ---------------------------------------------------------- */

.block-views h2{
    margin: 0 auto 1em;
    text-align: center;
    /* background: chocolate; */
    width: 100%;
    /* color: white; */
    border-bottom: #009df785 dashed 2px;
    padding: 0 0 0.5em;
}