/**
 * @file
 * Subtheme specific CSS.
 */
/*-------------------------------------------------------- Общее -----------------------------------------------------*/
p{
    margin-bottom: inherit;
}
 .image-wrapper{
     padding: 10px;
 }
.pagination{
    margin: 0 16% 1rem;
}

/* #main-wrapper{
    margin: 0 -30px;
} */

/* #main{
    margin:0 30px;
} */
.main-content.col{
    /* padding: 0 0.25rem; */
}

.responsive-card-scale:hover{
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.floating-block-active{
    left: 0;
}

.container-fluid, 
.container-sm, 
.container-md, 
.container-lg, 
.container-xl{
    overflow: hidden;
}

.row{
    /* margin-right: 0px;
    margin-left: 0px; */
}
 /* ----------------------------------------------------------------------- Кнопки (btn) ------------------------------------------------ */
.btn{
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.48); */
}

/* --------------------------------------------------------------------- Карусель Bootstrap ----------------------------------------- */
 .carousel{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    
 }

.carousel-control-prev,
.carousel-control-next{
    bottom: 46%;
    top: auto;
    padding: 10px;
    background-color: #ff0000;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 25px;
    height: 25px;
}

.carousel-indicators li{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50px;
    height: 4px;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .3;
    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

.carousel-inner{
    /* margin-bottom: 50px; */
}

.carousel-item{
    margin-bottom: 50px;
}

.carousel-caption{
    background: #1d193c8a;
    padding: 1em 2em 0;
    bottom: 0;
}

.carousel-caption .text-block-promo{
    color: white;
}

.carousel-caption a{
    color: yellow;
    text-decoration-line: underline;
}

.carousel-caption a:hover{
    color: #ffd000;
    text-decoration-line: underline;
}

.carousel-caption .price-block-promo{
    border: 2px solid white;
    padding: 0.2em;
    border-radius: 5px;
    color: white;
}
/* ============================================================================================================================================ */
.field-slideshow{
    /* width: 50%; */
    /* margin: auto; */
    /* float: left; */
}

.field-slideshow-wrapper{
    /* background-color: bisque; */
    overflow: hidden;
    height: 350px;
 }

.cycle-pager-after{
    margin-top: 250px;
    position: relative;
} 

.slick-list{
    max-height: 400px;
}

.slick img {
    /* margin: 0 50px; */
}

/* ================================================================================================================================================= */

.card-footer{
   /* background-color:rgba(0, 0, 0, 0.02); */
}

.dialog{
    position: fixed;
    height: 419px;
    width: 385px;
    top: 79px;
    left: 1203px;
}

.slick-initialized .slick-slide{
    /* margin-right: 50px; */
}

/* .slide__link{
    margin: 275px 0;
    } */

.slide__content, .grid__content {
    margin: 0 50px 0 50px;
}     

.slick--skin--classic .slide__caption{
    /* background-color: #000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    left: auto;
    right: 0;
    margin: 0;
    min-height: 80px;
    padding: 15px;
    -webkit-transition: -webkit-transform 1s ease-in-out 0.2s;
    transition: transform 1s ease-in-out 0.2s; */
    /* width: 100%; */
}    

.row .bs-2col-bricked{
    /* margin-top: 35px; */
}

.block-region-middle{
    border-top: #4c50522e 1px solid;
    padding-top: 10px;
    margin-top: 15px;
}
.views-field .views-field-field-price-base{
    /* position: absolute;
    bottom: 10px;
    z-index: 10;
    padding: 10px; */
}
.promotion-price {
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    /* margin-bottom: 20px; */
    /* position: absolute; */
    background: #26a0e6;
    color: white;
    /* opacity: 0.8; */
    box-shadow: #6d6d6d 0px 5px 15px 0px;
}

.promotion-image{
    position: relative;
    top: -20px;
}

.widget_pager{
    display: block;
}

.views-slideshow-controls-bottom .views-slideshow-pager-bullets li {
    background: #929292;
    box-shadow: #1d1d1d 0 0 3px 1px;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets li.active{
    background: orange;
}
.views-slideshow-controls-bottom .views-slideshow-pager-bullets li:hover{
    background: orange;
}

.views_slideshow_controls_text_pause{
    display: none;
}


.views_slideshow_controls_text_next {
    text-indent: -9999px;
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    /* padding: 0 20px; */
    background: #2481b7;
    /* margin: 0.4em; */
    /* line-height: 29px; */
    height: 45px;
    width: 45px;
    box-shadow: #000000 0px 0px 5px 1px;
    /* border: #d0ff048c solid 1px; */
    position: absolute;
    right: -2%;
    bottom: 40%;
}

.views_slideshow_controls_text_previous{
    text-indent: -9999px;
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    /* padding: 0 20px; */
    background: #2481b7;
    /* margin: 0.4em; */
    /* line-height: 29px; */
    height: 45px;
    width: 45px;
    box-shadow: #000000 0px 0px 5px 1px;
    /* border: #d0ff048c solid 1px; */
    position: absolute;
    left: -2%;
    bottom: 40%;
}

.views_slideshow_controls_text_next,
.views_slideshow_controls_text_previous{
    z-index: 100;
}

.views_slideshow_controls_text_next:hover,
.views_slideshow_controls_text_previous:hover{
    background: #26a0e6;
}

.view-content .skin-default{
    margin: 0 auto;
}

#page, #main-wrapper, .region-primary-menu .menu-item a.is-active, .region-primary-menu .menu-item--active-trail a{
    background: #fbfbfb;
}



/*================================================= Header ============================================*/

#header{
    height: 180px;
    margin: 0 0 10px 0;

}

/*------------------------------------------------------- navbar ----------------------------------------*/

/*------------------------------------------------------- navbar top ------------------------------------*/

#navbar-top{
    padding: 0.5rem 0;
    background-color: #055a8e;
}

/* ------------------------------------------------------ navbar bottom -------------------------------- */

#navbar-main{
    background-color: inherit;
    padding: 0.2rem 0.5rem 0.3rem 0.5rem;
    z-index: 200;
    /* height: 60px; */
    transition: all 0.5s;
    /* box-shadow: #4e4e4e 0 1px 8px 0px; */
    /* background: rgb(0,0,0); */
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(4,4,4,0.6) 100%, rgba(172,255,1,1) 100%);
    /* display: inline-flex; */
}

#navbar-main.sticky {
    padding: 0.2rem 0.5rem;
    width: 100%;
    /* height: 50px; */
    margin: 0 0 15px 0;
    position: fixed;
    top: 0;
    /* z-index: 100; */
 }
.navbar-bottom{
    background-color: black;
}
                            /* ----------------------------- Лого ----------------------------- */

#navbar-main a.navbar-brand{
    margin: 0 0 0 1rem;
    height: 5.5rem;
    width: 5rem;
    transition: all 0.5s;
}

#navbar-main.sticky a.navbar-brand{
    height: 4.5rem;
    width: 4rem;
}

.navbar-brand img{
    padding: 0.25rem;
    /* background: #ed812b; */
    border-radius: 100%;
    box-shadow: 0 1px 4px 0px #1f1f1f;
    background: radial-gradient(circle at center, #f93636c7 0%, rgb(183, 0, 0) 79%, rgba(8, 46, 70, 0.36) 100%);  
}

/* -------------------------------------------------- Меню основное ------------------------------------------------- */
.navbar-nav{
    /* margin-right: -2.5rem;
    display: inline-flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.24) 0%, rgba(4,4,4,0.6) 100%, rgba(172,255,1,1) 100%);
    padding: 1rem 1.2rem 1.5rem 1.2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 11rem;
    border-top: solid 1px white; */
}
.nav-item{
    /* border: 1px solid #26a0e6; */
    /* margin: 0 1em; */
}
.navbar-light .nav-link{
    /* padding: 1em; */
    margin: 0 0.25rem;
    background-color: #fbfbfb;
    font-size: large;
    border: solid 2px gray;
}

.navbar-light .nav-link:hover,
.navbar-light .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    /* padding: 1em; */
    background-color: #c53030;
    color: white;
    border: solid 2px gray;
}
.navbar-light .nav-link,
.navbar-light .navbar-nav .nav-link{
    color: black;
}

.container-fluid, 
.container-sm, 
.container-md, 
.container-lg, 
.container-xl{
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.description-tabs .tab-content {
    min-height: 400px;
}

ul.dropdown-menu{
    padding: 0.1rem 0;
    margin: 0 0;
    /* box-shadow: #313131 0px 2px 3px 1px; */
    background: none;
    border: none;
    width: 100%;
}
ul.dropdown-menu li{
    padding: 0;
}

.dropdown-item:hover,
.dropdown-item.active{
    background: none;    
}
/* ul.dropdown-menu li:hover{
    background: none;
} */
ul.dropdown-menu li a{
    color: #2b2b2b;
    display: block;
    padding: 0.5em;
    background: #fbfbfb;
    margin: 0.5em 0;
    /* border: 1px black solid; */
    /* border-top: 1px gray solid; */
    border-radius: 3px;
    box-shadow: #717171 0px 1px 3px 0px;

}
ul.dropdown-menu li a:hover{
    color: white;
    text-decoration: none;
    background: #474747;
}

/* -------------------------  иконки меню --------------------- */


.nav-link .fa-handshake,
.nav-link .fa-cogs,
.nav-link .fa-shopping-cart,
.nav-link .fa-tasks,
.dropdown-item .fa-project-diagram,
.dropdown-item .fa-couch,
.dropdown-item .fa-bed,
.dropdown-item .fa-layer-group,
.dropdown-item .fa-paint-roller{
    font-size: 2rem;
    /* color: #ff0100; */
    vertical-align: middle;
    /* background: #fbfbfb; */
    border-right: solid #5d5d5d 1px;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    /* text-shadow: 0 0 0 #2b2b2b; */
    /* height: 0.7em; */
    /* width: 100px; */
}

/* .dropdown-item .fa-project-diagram{
    font-size: 4em;
    color: #ff9a00;
    vertical-align: middle;
    background: #fbfbfb;
    border-right: solid #5d5d5d 1px;
    padding: 3px 10px;
    margin: 0 5px 0 0;
    height: 0.7em;
} */

/*----------------------------------------- Счётчик в меню --------------------------------------*/

.items-counter{
    display: inline-block;
    position: absolute;
    padding: 0.25rem;
    background-color: white;
    color: #e21414;
    /* border: #807c7c solid 1px; */
    border-radius: 50%;
    width: 2.26rem;
    height: 2.26rem;
    /* top: -1rem; */
    margin: -1.25rem 0rem 0rem -2rem;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0 0 4px 0px grey;
}
/* ------------------------------------------------------------------------------------------------------------------------------------ */


.view-content,
.form-actions{
    padding: 0 15px;
    display: block;
}

.ui-widget-overlay {
    /* background: none; */
    /* opacity: 0; */
    /* position: inherit; */
}

.ui-dialog{
    z-index: 200;
}

.slick-list{
    /* display: list-item; */
}
/*---------------------------------------------------------------- Страница товара -------------------------------------------*/

                                        /*--------------Поле Где купить на странице описания товара -------------*/

.field--name-field-where{
    margin-top: 3rem;
}

/* ----------------------------------------------------------------- Темизация views Описание товара на странице материала ---------------------------------- */


.view-opisanie-modeli{
    /* margin: 3rem 0 3rem 0; */
}

.tab-content{
    min-height: 250px;
    overflow: auto;
}


.tab-content .field__item{
    margin: 10px 0;
    padding: 0 5px;
}

.field--name-field-scheme .field__item{
    float: left;
    margin: 0 1rem 0 0;
}

.tab-content>.tab-pane .field__label{
    display: none;
}

.price-base{
    opacity: 0.9;
}

.card-model-desc{
    /* background: #3c3c3c;
    color: #ececec; */
}

.description-right{
    /* border-left: dashed 1px #d2d2d2; */
}
.card-model-desc .card-title{
    color: #040404;
}

.card-model-desc a{
    color: #2FA4E7;
    text-decoration: underline;
}

.fa-external-link-alt{
    vertical-align: top;
    margin: 10px 0px 0 -25px;
}

.fa-list-ul,
.fa-grip-horizontal,
.fa-warehouse{
    /* color: #2b556d; */
    margin:  0 8px 0 0;
}

.blazy--view--opisanie-modeli--block-1 .list-group-item{
    border: dashed #6f6f6f 2px;
}
                            /* ----------------------------------- Стили для создания "read more" ----------------------- */

#summary {
  font-size: 1em;
  line-height: 1.5;
}

#summary div.collapse:not(.show) {
    height: 120px !important;
    overflow: hidden;
  
    display: block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#summary div.collapsing {
    min-height: 120px !important;
}

#summary a.collapsed:after  {
    content: '+ Читать далее...';
}

#summary a:not(.collapsed):after {
    content: '- Свернуть';
}
 
                            /* -------------------------------Поле трансформация------------------------------- */
.field--name-field-transformaciya{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    background: #7d7d7db0;
}


.slick-dots--thumbnail-grid{
    text-align: left;
}
/* ------------------------------------------------- Таблицы на странице описания матрасов ---------------------------------------------------------- */

table.table{
    color: white;
}

tr.odd,
.table-striped tbody tr:nth-of-type(odd){
    background-color: #5f5f5f;
}

tr.even{
    background-color: #6f6f6f;
}

/* ---------------------------------------------------- Карточки товаров --------------------------------------------------------------------- */

.card-body{
    flex: 0.5 0 auto;
}

.card-img-top{
    background: radial-gradient(circle farthest-corner at 100px 50px, #ffffff, #a7a7a7);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.media__image{
    margin: 0 auto;
}

.far.fa-smile,
.far.fa-frown{
    margin-left: 1rem;
    font-size: xx-large;
}

.far.fa-smile{
    color: green;
}

.far.fa-frown{
    color: #711a1a;
}

.can-to-order{
    margin-left: 1rem;
    font-style: italic;
    font-size: smaller;
    color: gray;
}
/* ----------------------------------------------------- Блок социальных ссылок и телефон в шапке ------------------------------------------------- */

.fa-mobile-alt{
    color: white;
}

.social-block{
    background: #fbfbfb;
    padding: 0.5rem 0;
    border-radius: 5px;
}

.social-item{
    /* background-color: #2b2b2b; */
}

/* Style all font awesome icons */
.fa {
    padding: 9px 7px;
    /* font-size: 30px; */
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white
  }
  
  /* Add a hover effect if you want */
.fa:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0px 2px 5px 0px #909090;
  }
  
.fa-facebook {
    /* color: white; */
    background-color: #3b5999;
  }
 .fa-odnoklassniki{
    background-color: #ed812b;
 }
 .fa-instagram{
    background-color: #e4405f;
 }
 .fa-vk{
    background-color: #4c75a3;
 }

/* ------------------------------------------------------- Модальное окно ------------------------------------------------- */

.ui-dialog .ui-dialog-content{
    padding: 0;
}

/* ---------------------------------------------------- Форма заказа мягкой мебели -------------------------------------------- */

/* .webform-submission-similar-soft-order-form   {
    background: #145873;
    padding: 31px 20px 10px 20px;
    color: white;
}

.form-control{
    border-radius: 0.1rem;
} */

.field--name-field-similar-bed-order,
.field--name-field-similar-soft-order{
    margin-top: 3rem;
}
.webform-submission-similar-soft-order-form,
.webform-submission-bed-order-form-form{
    position: relative;
    background: #ffffff;
    padding: 1rem 1rem 1rem 1rem;
    border: 3px #055a8e solid;
    /* color: white; */
    /* border-radius: 5px; */
    box-shadow: 0px 5px 7px 0px #969696;
    margin: 0 0 1rem 0;
    height: 476px;
    overflow-y: auto;
}
.alert-info {
    color: #efefef;
    background-color: #055a8e;
    border-color: #b8c8d8;
}

.datas-fieldset{
    background: red;    background: #dcdcdc7d;
    padding: 0 1rem;}

/* .btn .btn-primary{
    background-image: none;
    background-color: red;
} */

.submit{
    display: block;
    margin: 0 auto;
}

.webform-button--next,
.webform-button--previous{
    font-size: 1rem;
    font-weight: 900;
    /* border-radius: 50%; */
    /* border: #a73333 solid 3px; */
    background: none;
    color: #055a8e;
    vertical-align: middle;
    padding: 1rem 1rem;
}  

.webform-button--next{
    position: absolute;
    right: 1rem;
    /* bottom: 1rem; */
    /* margin: 0 -1rem 0 1rem; */
}
.webform-button--previous{
    position: absolute;
    left: 1rem;
    /* bottom: 1rem; */
}


/* ------------------------------------------------ Главная страница ---------------------------------------------------------- */

.block-views h2{
    margin: 1rem auto 0;
    text-align: center;
    /* background: chocolate; */
    width: 100%;
    color: black;
    /* border-bottom: black dashed 2px; */
    padding: 0 0 0.5em;
    overflow: hidden;
}

.title {
	/* чтобы линии не выходили за ширину блока заголовка */
}
.block-views h2:before,
.block-views h2:after {
	content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #b1b1b1;
    border: solid #fbfbfb;
    border-width: 0 1rem;;
}
.block-views h2:before {
	/* смещаем левую линию влево отрицательным отступом, равным 100% ширины
	** благодаря этому линия встает слева от текста
	*/
	margin-left: -100%;
}
.block-views h2:after {
	/* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
	** благодаря этому линия встает справа от текста
	*/
	margin-right: -100%;
}

.block-views {
    /* margin: 1rem -2rem 0 -2rem; */
}
                                                /*--------- Новинки ------------*/
.shops-link-table a{
    display: block;
}  

.fas.fa-map-marker-alt{
    color: #4222bf;
    font-size: 1.2rem;
    margin: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.accessibly .far.fa-frown,
.accessibly .far.fa-smile{
    font-size: 1.25rem;
}

.accessibly,
.stock,
.flagged{
    margin: 1rem 0 0 0;
}

.stock{
    padding: 0.5rem;
    border: dashed #e2e2e2;
    border-radius: 5px;
    /* margin: 1rem 0 0 0; */
}

.flagged{
    /* margin: 1rem 0 0 0; */
}
.fas.fa-check{
    font-size: 1.25rem;
    margin: 0 0 0 0.5rem;
    color: #ff0000;
}    

/* ---------------------------------------------------------------------------------------------------------------------------- */

.nothing{
    background: url(../images/no-product-found-1.png);
    background-repeat: no-repeat;
    min-height: 350px;
    background-position: center 100%;
    background-size: auto;
}

/* --------------------------------------- Флаги ------------------------------------------------- */
.node--view-mode-full .flag-add-bookmarks{
    /* margin-top: 1rem; */
}

.flag-add-bookmarks.action-flag,
.flag-add-bookmarks.action-unflag{

    display: flex;
    font-size: 1rem;
    /* background: #008606; */
    padding: 0.25rem 0.3rem;
    border-radius: 100%;
    position: absolute;
    /* left: 0.5rem; */
    border: 1px dashed;
}
.flag-add-bookmarks.action-flag{
    color: #008606;
}
.flag-add-bookmarks.action-unflag{
    color: red;
}

.flag-add-bookmarks.action-flag a,
.flag-add-bookmarks.action-flag a:hover,
.flag-add-bookmarks.action-unflag a,
.flag-add-bookmarks.action-unflag a:hover
{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* margin: 0.25rem 0 0 0.75rem; */
    font-size: initial;
    font-weight: 100;
    color: #001998;
    position: absolute;
    display: block;
    right: -7rem;
    top: 0;
    width: 6rem;
    border-bottom: dashed 1px;
    z-index: 100;
}

.views-field-link-flag .action-flag,
.views-field-link-flag .action-unflag{
    /* background-color: red; */
    position: relative;
    border: unset;
}

.views-field-link-flag .flag-add-bookmarks.action-flag a,
.views-field-link-flag .flag-add-bookmarks.action-unflag a{
    position: relative;
    left: 1rem;
}

.js-flag-message{
    display: none;
    /* width: 0; */

}

.flag-throbber {
    display: none;
    position: absolute;
    top: -10rem;
  }

/* ----------------------------------------------------- список товаров (закладки) ------------------------------------------- */

.views-field-field-available{
    color: black;
}

.fa-ruble-sign{
    color: #737373;
}

/* ----------------------------------------------------- список товаров (блок-счётчик) ------------------------------------------- */
#block-views-block-vsya-myagkaya-mebel-block-1{
    z-index: 200;
}
.view-id-vsya_myagkaya_mebel.view-display-id-block_1{
    /* top: 100px; */
    /* background-color: gray;
    color: white; */
    /* z-index: 150; */
}

/* ----------------------------------------------- Фильтры в блоке ---------------------------------------------------- */

.block.block-views-exposed-filter-blockvsya-myagkaya-mebel-page-1,
.block.block-views-exposed-filter-blocksleeps-all-page-1{
    /* height: 470px; */
    position: relative;
    border-style: solid;
    border-width: 3px;
    padding: 0 1rem 2rem 1rem;
    margin: 0 0.5rem 1rem;
    border-color: #386b9ea3;
    border-radius: 5px;
    /* color: white; */
    background: #fbfbfb;
    z-index: 100;
}

.block-filters{
    background-color: #efefef;
    border-color: #f9f9f9;
    border: solid 1px #bdbdbd;
    display: inline-block;
}

.form-row{
    display: inline-block;
    width: 100%;
}
#edit-field-soft-fur-config-target-id,
#edit-field-sleep-config-value{
    display: flex;
}

#edit-submit-vsya-myagkaya-mebel,
#edit-submit-sleeps-all,
#edit-reset{
    padding: 0.25rem;
    background: #386b9e;
    position: absolute;
    margin: 1rem 0 0 0;
    bottom: 0.5rem;
    left: 0.75rem;
}

#edit-submit-vsya-myagkaya-mebel,
#edit-submit-sleeps-all{
    /* float: left; */
    /* margin: 1rem auto; */
}

#edit-reset{
    float: right;
    margin: 1rem auto;
}

.custom-select[multiple], 
.custom-select[size]:not([size="1"]){
    padding-right: 0;
}

#edit-field-available-value-collapsible{
    padding: 1rem;
    border-radius: 4px;
    border: 2px dashed #d2d2d2;
}

#edit-field-available-value-collapsible summary{
    padding: 0 0 1rem 0;
}

.js-form-item-id-name,
.js-form-item-title{
    /* width: 12rem; */
    float: left;
    position: relative;
}
.js-form-item-id-name{
    margin-right: 1rem;
    /* float: left; */
}
.js-form-item-title{
    margin-left: 1rem;
    /* float: right; */
}
.js-form-item-id-name::after{
    content: "Или";
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    right: -2rem;
}


/*------------------------------------------------ better exposed filters ----------------------------------------*/

#edit-field-soft-fur-config-target-id--wrapper,
#edit-field-field-sleep-config-target-id--wrapper{
    float: left;
}
#edit-field-available-value--wrapper{
    float: left;
    margin: 0 1rem;
}
#edit-field-soft-fur-config-target-id--wrapper legend,
#edit-field-field-sleep-config-target-id--wrapper legend,
#edit-field-available-value--wrapper legend{
    position: relative; 
    margin: 0;
    text-align: center;
    font-size: 1rem;
    /* display: block; */
    overflow: hidden;
    /* width: 100%; */
    /* padding: 0;*/
}

#edit-field-soft-fur-config-target-id--wrapper legend::before,
#edit-field-soft-fur-config-target-id--wrapper legend::after,
#edit-field-field-sleep-config-target-id--wrapper legend::before,
#edit-field-field-sleep-config-target-id--wrapper legend::after,
#edit-field-available-value--wrapper legend::before,
#edit-field-available-value--wrapper legend::after{
    /* display: none; */
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    /* width: 15%; */
    height: 1px;
    /* background: #b1b1b1; */
    border: solid #636161;
    border-width: 0 10px;;
}

#edit-field-soft-fur-config-target-id--wrapper ul,
#edit-field-field-sleep-config-target-id--wrapper ul,
.form-radios{
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* padding-inline-start: 0; */
}

.custom-switch{
    padding-left: 0.5rem;
    margin: 0 0 0.25rem 0;
}

.form-radios .form-item-field-available-value{
    margin: 0 0 0.25rem 0.2rem;
    /* padding: 0.3rem 0.3rem 0 1.3rem; */
}

.custom-switch .custom-control-label::before{
    left: -2.75rem;
    width: 2.5rem;
    pointer-events: all;
    border-radius: 1rem;
    height: 1.25rem;
}

.custom-switch .custom-control-label::after{
    top: calc(0rem + 2px);
    left: calc(-2.75rem + 0px);
    width: calc(1.25rem + 4px);
    height: calc(1.25rem + 4px);
    background-color: #386b9e;
    border-radius: 1rem;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #e41717;
    -webkit-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
}


.custom-radio .custom-control-label::before{
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #2FA4E7;
    background-color: #ffffff;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    top: 0.25rem;
    left: -1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    /* top: calc(0.25rem + 2px);
    left: calc(-1.5rem + 2px);
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px); */
    background-color: #e41717;
    /* border: solid 2px #276f6f; */
    border-radius: 1rem;
    background-image: none;

}
.custom-radio .custom-control-label::after{
    position: absolute;
    top: 0.35rem;
    left: -1.35rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
    /* background: red; */
}

/* ----------------------------------------------- Первая колонка (sidebar_first) ---------------------------------*/

.sidebar_first{
    padding: 0 0 0 1.5rem;
}



/*------------------------------------------------- Блок Все товары в этом магазине ---------------------------------*/

.view-this-shop-products .view-content.row h3{
    width: 100%;
    text-align: center;
    color: #ff4800;
    margin: 0 auto 1rem;
    overflow: hidden;
}

.view-this-shop-products .view-content.row h3:before,
.view-this-shop-products .view-content.row h3:after {
	content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 15%;
    height: 1px;
    background: #ff4800;
    border: solid #fbfbfb;
    border-width: 0 1rem;
}
.view-this-shop-products .view-content.row h3:before {
	/* смещаем левую линию влево отрицательным отступом, равным 100% ширины
	** благодаря этому линия встает слева от текста
	*/
	margin-left: -100%;
}
.view-this-shop-products .view-content.row h3:after {
	/* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
	** благодаря этому линия встает справа от текста
	*/
	margin-right: -100%;
}

.view-this-shop-products .view-content.row h3.price-base{
    margin: inherit;
}

/*-------------------------------------------- Индивидуальные заказы - Страница -----------------------------------*/

ul li.pager__item{
    list-style: none;
    /* background-color: #71219a; */
    padding: 0.3rem 0.5rem 0.6rem 0.5rem;
    margin: 0 auto;
    width: 15rem;
    height: 3rem;
    position: relative;
    border-radius: 3rem;
    box-shadow: 0 4px 4px 0px grey;
    transition: all 0.2s;
}
ul li.pager__item:hover{
    padding: 1rem 0.5rem 0.3rem 0.5rem;
    box-shadow: 0 6px 7px 0px grey;
}
ul li a.button{
    background: url(../images/arrow-bottom-1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 1.75rem;
    text-indent: -9999px;
    display: block;
    background-size: contain;
}

.fa-project-diagram,
.fa-pencil-ruler{
    font-size: 1.25rem;
    margin: 0 1rem 0 0;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;;
}
.fa-pencil-ruler{
    background: #088c94;
    padding: 0.87rem;
}
.fa-project-diagram{
    background: #088c94;
    padding: 1rem 1.2rem 0.88rem 0.7rem;
}

.fa-link{
    color: #9a9a9a;
    margin: 0 0.1rem 0 0.25rem;
    font-size: 0.75rem;
}

.fa-exclamation{
    margin: 0 0.75rem 0 0;
    font-size: 1.025rem;
    color: #2c5a73;
}